@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');



@media screen and (min-width: 800px) {
    .nav-container {
        height: 8vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5%;
        padding-top: 1%;
        margin-left: 4vw;
        margin-right: 4vw;
    }
  }

  @media screen and (max-width: 800px) {
    .nav-container {
        height: 8vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5%;
        padding-top: 1%;
        margin-left: 4vw;
        margin-right: 4vw;

    }
  }

.home {
    display: flex;
    justify-content: space-around;
}

.signature {
    font-family: 'Nunito Sans';
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: calc(14px + 0.2vw);
}

.signature:hover {
    font-family: 'Nunito Sans';
    text-decoration: none;
    color: #00997B;
    font-weight: bold;
    font-size: calc(14px + 0.2vw);
}

.links {
    display: flex;
    justify-content: space-around;
}

.link {
    font-family: 'Nunito Sans';
    color: black;
    text-decoration: none;
    font-size: calc(13px + 0.2vw);
    margin-left: 1.8vw;
    margin-right: 1.8vw;

}

.link:hover {
    font-family: 'Nunito Sans';
    color: #00997B;
    text-decoration: none;
    font-size: calc(13px + 0.2vw);
    margin-left: 1.8vw;
    margin-right: 1.8vw;

}