@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');


@media screen and (min-width: 1000px) {
    .crossword-container {
        width: calc(30vw + 30vh);
        height: calc(30vw + 30vh);
        display: grid;
        grid-template-columns: repeat(9, 12%);
        grid-template-rows: repeat(9, 12%);
        justify-content: center;
        overflow-x: visible;
        margin-left: 8vw;
    }
}

@media screen and (max-width: 1000px) and (min-width: 600px) {
    .crossword-container {
        width: calc(40vw + 40vh);
        height: calc(40vw + 40vh);
        display: grid;
        grid-template-columns: repeat(9, 12%);
        grid-template-rows: repeat(9, 12%);
        justify-content: center;
        overflow-x: visible;
        padding-left: 8vw;
        margin-top: 10vh;
    }
}

@media screen and (max-width: 600px) {

    .crossword-container {
        width: calc(80vw);
        height: calc(80vw);
        display: grid;
        grid-template-columns: repeat(9, 12%);
        grid-template-rows: repeat(9, 12%);
        justify-content: center;
        overflow-x: visible;
        margin-top: 10vh;
        padding-left: 14vw;
    }
}

.hints {
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start: 6;
    grid-row-end: 10;
    font-family: 'Nunito';
    color: var(--color-secondary);
}

.hintLabel {
    font-size: var(--font-size-h3);
    padding: 0;
    padding-left: 3vw;
    margin: 0;
    color: var(--color-secondary);
}

.hint {
    font-size: var(--font-size-h4);
    padding: 0;
    margin: 6px;
    padding-left: 3vw;
    cursor: pointer;
    color: var(--color-secondary);
}

.hint1 {
    font-family: 'Nunito';
    font-size: 12px;
    grid-column: 1/1;
    grid-row: 4/4;
    padding: 4px;
    background-color: transparent;
    color: var(--color);
}

.hint2 {
    font-family: 'Nunito';
    font-size: 12px;
    grid-column: 4/4;
    grid-row: 1/1;
    padding: 4px;
    background-color: transparent;
    color: var(--color);
}


.boxB {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    border: 1px solid black;
    font-size: var(--font-size-h0);
    text-align: center;
    padding-bottom: 5px;
    font-family: 'Architects Daughter';
}

.boxFirstR {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: none;
    border-right: none;
    font-size: var(--font-size-h0);
    text-align: center;
    font-family: 'Architects Daughter';
    padding-bottom: 5px;
}

.boxI {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    border: 1px solid black;
    border-right: none;
    font-size: var(--font-size-h0);
    text-align: center;
    font-family: 'Architects Daughter';
    padding-bottom: 5px;
}

.boxD {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
    border: 1px solid black;
    font-size: var(--font-size-h0);
    text-align: center;
    padding-bottom: 5px;
    font-family: 'Architects Daughter';
}

.boxFirstG {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
    border: 1px solid black;
    border-left: none;
    border-right: none;
    font-size: var(--font-size-h0);
    text-align: center;
    font-family: 'Architects Daughter';
    padding-bottom: 5px;
}

.boxFirstE {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 5;
    border: 1px solid black;
    border-right: none;
    font-size: var(--font-size-h0);
    text-align: center;
    padding-bottom: 5px;
    font-family: 'Architects Daughter';
}

.boxT {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 5;
    border: 1px solid black;
    font-size: var(--font-size-h0);
    text-align: center;
    padding-bottom: 5px;
    font-family: 'Architects Daughter';
}

.boxLastE {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
    border: 1px solid black;
    border-top: none;
    border-bottom: none;
    font-size: var(--font-size-h0);
    text-align: center;
    padding-bottom: 5px;
    font-family: 'Architects Daughter';
}

.boxL1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;
    border: 1px solid black;
    border-bottom: none;
    font-size: var(--font-size-h0);
    text-align: center;
    padding-bottom: 5px;
    font-family: 'Architects Daughter';
}

.boxL2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 8;
    border: 1px solid black;
    font-size: var(--font-size-h0);
    text-align: center;
    padding-bottom: 5px;
    font-family: 'Architects Daughter';
}

.boxMiddleG {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    border: 1px solid black;
    font-size: var(--font-size-h0);
    text-align: center;
    padding-bottom: 5px;
    font-family: 'Architects Daughter';
}

.boxO1 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    border: 1px solid black;
    border-top: none;
    border-bottom: none;
    font-size: var(--font-size-h0);
    text-align: center;
    padding-bottom: 5px;
    font-family: 'Architects Daughter';
}

.boxMiddleR {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    border: 1px solid black;
    border-bottom: none;
    font-size: var(--font-size-h0);
    text-align: center;
    padding-bottom: 5px;
    font-family: 'Architects Daughter';
}

.boxO2 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;
    border: 1px solid black;
    border-top: none;
    border-bottom: none;
    font-size: var(--font-size-h0);
    text-align: center;
    padding-bottom: 5px;
    font-family: 'Architects Daughter';
}

.boxN {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 7;
    border: 1px solid black;
    font-size: var(--font-size-h0);
    text-align: center;
    padding-bottom: 5px;
    font-family: 'Architects Daughter';
}

.text-color {
    color: var(--color-secondary);
}

