.experience-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.experiences {
    background-color: var(--color-basic-primary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
}

@media screen and (min-width: 800px) {
    .exp-image {
        width: 40vw;
        animation: slidein;
        animation-duration: 2s;
    }
}

@media screen and (max-width: 800px) {
    .exp-image {
        margin: 2vh;
        width: 80vw;
    }
}

@keyframes slidein {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }
